$padding: 0px 150px;

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  gap: 50px;

  .section-one {
    display: flex;
    align-items: flex-start;
    height: 400px;
    width: 100%;
    gap: 20px;
    padding: $padding;
    margin: 40px 0;

    .left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        font-size: 35px;
        font-weight: 400;
      }

      p {
        max-width: 800px;
        font-size: 20px;
        font-weight: 300;
      }
    }

    .right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 480px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .donate-btn {
      background-color: black;
      color: white;
      border-radius: 5px;
      text-align: center;
      border: none;
      cursor: pointer;
      padding: 10px;
      width: 50%;
      font-size: 20px;
    }
  }
  .section-two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: $padding;
    margin-bottom: 80px;
    h1 {
      font-weight: 400;
      text-align: center;
    }

    .cards-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      gap: 20px;
      .card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        width: 350px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;

        .card-image {
          width: 100%;
          height: 200px; // Fixed height for images
          object-fit: cover; // Ensures the image fits nicely
        }

        .card-content {
          padding: 16px;

          h3 {
            font-size: 1.5rem;
            margin: 0 0 10px;
            font-weight: 400;
          }

          p {
            font-size: 1rem;
            color: #666;
            margin: 0 0 16px;
          }

          .learn-more-btn {
            background-color: #000; // Button color
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: gray; // Darker shade on hover
            }
          }
        }
      }
    }
  }

  .full-width-image {
    position: relative;
    width: 100%;
    height: 60vh; // Adjust height as needed
    margin-bottom: 40px;

    .background-image {
      width: 100%;
      height: 100%;
      object-fit: cover; // Ensures the image covers the entire area
      display: block;
    }

    .overlay-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white; // Adjust text color
      text-align: center;

      h1 {
        font-size: 2.5rem; // Adjust heading size
        margin: 0;
        font-weight: 300;
      }

      p {
        font-size: 1.2rem; // Adjust paragraph size
        margin: 10px 0 0;
      }
    }
  }

  .contact-us {
    height: 50vh;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 20px;
      @media (max-width: 385px) {
        font-size: 25px;
      }
    }

    p {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 20px;
      max-width: 700px;
      text-align: center;
      @media (max-width: 385px) {
        font-size: 15px;
      }
    }
    .input-container {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 20px;
      @media (max-width: 445px) {
        width: 100%;
        padding: 10px;
      }
      .name-email-wrapper {
        display: flex;
        gap: 20px;
        @media (max-width: 662px) {
          flex-direction: column;
        }

        input {
          width: 100%;
          font-size: 16px;
          padding: 5px;
          outline: none;
          border-radius: 0%;
          border: none;
          border-bottom: 3px solid rgb(0, 0, 0);
        }
      }

      textarea {
        font-size: 16px;
        padding: 5px;
        outline: none;
        border-radius: 0%;
        border: none;
        resize: none;
      }

      button {
        padding: 5px;
        background-color: black;
        border: 1px solid white;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: 0.45s ease;
        border-radius: 0%;

        &:hover {
          background-color: white;
          color: black;
          border: 1px solid black;
        }
      }
    }
  }
}
