.home-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
  }
  .headline{
    align-items: flex-start;
  }
    .section-one{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

    }

  .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    height: 40vh;
  }
  p{
    max-width: 500px;
  }  
  .right 
  {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    img{
        width: 300px;
        height: 300px;
    }
  }
  .donate{
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    border: none;
    width: 120px;
    height: 40px;
    cursor: pointer;
  }
